<!-- Authentication page, the user is redirected here after being successfully authenticated with Tequila
    This page redirects the client to its original location with a signed message of his informations.
    The client location is stored is the configuration file of the server. -->

<!DOCTYPE html>
<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./../server_config.ini"></script>
        <script>
            
            $('document').ready(function(){
                //If we want to add section, groups and date.
                /*+";"+
                "<%= message.section %>"+";"+"<%= message.groups %>"+";"+
                "<%= message.fullDate %>"*/
                
                // To add the full name to the transfered message : 
                /* "+";"+"<%= message.name %> */
                
                var finalMessage = "<%= message.id %>"+";"+"<%= signature %>";
                
                sessionStorage.setItem("message", finalMessage);
                                       
                window.location.replace(client_location);

            });
            
        </script>
    </head>
    <body>
        
    </body>
    
</html>
